<div class="modal-header">
  <h4 class="modal-title text-primary">
    <i class="ft-plus"></i>&nbsp;
    <strong>Add Member</strong>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body px-0 py-0">
  <app-member-profile ></app-member-profile>
</div>
<!-- <div class="modal-footer clearfix">
      <button type="button pull-left" class="btn btn-secondary btn-raised" (click)="c('Close click')">
        <i class="ft-x"></i>&nbsp;Close</button>
      <button type="button pull-left" class="btn btn-raised btn-success" (click)="c('Close click')">
        <i class="fa fa-check-square-o"></i>&nbsp;Submit</button>
    </div> -->