<div class="modal-header">
  <h4 class="modal-title">Custom date</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12" style="text-align: center;padding:10px;">
      <ngb-datepicker #dp1 ngModel (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"></ngb-datepicker>
    </div>
    <div class="col-md-12 text-center">
      From:{{startDate}} ~ To:{{endDate}}
    </div>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-raised" (click)="activeModal.close('close')">Close</button>
    <button type="button" class="btn btn-info btn-raised" (click)="activeModal.close({startDate:startDate,endDate:endDate})">Submit</button>
</div>
<ng-template #t let-date="date" let-focused="focused">
  <!-- <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span> -->
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>