/* You can add global styles to this file, and also import other style files */
$maxblur: #1e75bc;
.modal-open{
    padding-right: 17px;
}
/* .page-item.active .page-link{
    z-index: 1;
    color: #fff;
    background-color:$maxblur;
    border-color: $maxblur;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: $maxblur;
    border-color: $maxblur;
}
.btn-link{
    color: $maxblur;
}
.ngb-dp-week .ngb-dp-weekday{
    color: $maxblur !important;
}
.ng2-smart-page-link.page-link{
    line-height: 17px;
}
.form-control:focus{
    border-color: $maxblur !important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(103, 154, 206, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(103, 154, 206, 0.25);
} */
.navbar{
    background: #fff;
}
.ng2-smart-page-link.page-link{
    line-height: 17px;
}
/* :root{
    --font-family-sans-serif:"Montserrat","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
} */
.pace .pace-progress{
    background-color: #1e75bc;
}
.modal-large{
    .modal-dialog{
        max-width: 1200px;
    }
}
@media (max-width:640px){
    .card-body{
        overflow: auto;
    }
}